@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --main-background-color:#fcf8eb;
  --main-text-color:#073d2c;
  --seconde-text-color:#997f45;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* main page styling */
.all-page{
  background-image: url(/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}